
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dr.coffee 咖博士</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>

    <style>
        .demo-login-container {
            width: 320px;
            margin: 21px auto 0;
        }

        .demo-login-other .layui-icon {
            position: relative;
            display: inline-block;
            margin: 0 2px;
            top: 2px;
            font-size: 26px;
        }
    </style>
</head>
<body>

    <header>

        <div class="layui-header" style="width:100%;height:60px;background-color:black">
            <div class="layui-row">
                <div class="layui-col-md3 layui-col-md-offset1">
                    <a href="http://www.dr-coffee.com/"><img src="~/Img/logo_r.png" alt="咖博士 Dr.coffee" style="width: 300px; margin: 20px 0px 0px 0px; text-align: center;" /></a>
                </div>
                <div class="layui-col-md1 layui-col-md-offset6">
                    <div class="layui-row">
                        <div class="layui-col-md3">
                            <a href="/Home/Index"><img src="~/Img/web32.svg" style="margin: 13px 0px 0px 0px" /></a>
                        </div>
                        <div class="layui-col-md1">
                            <div style="margin: 20px 0px 0px 10px; color: white">CN</div>
                        </div>
                        <div class="layui-col-md2">
                            <a href="/Home/Login"><img src="~/Img/user32.svg" style="margin: 13px 0px 0px 30px" /></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <main>
        
        <form class="layui-form" style="margin-top:10%">
            <div class="demo-login-container">
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-username"></i>
                        </div>
                        <input type="text" name="username" value="" lay-verify="required" placeholder="用户名" lay-reqtext="请填写用户名" autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-password"></i>
                        </div>
                        <input type="password" name="password" value="" lay-verify="required" placeholder="密   码" lay-reqtext="请填写密码" autocomplete="off" class="layui-input" lay-affix="eye">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登录</button>
                </div>
                
            </div>
        </form>
        


    </main>

    <footer>
    </footer>





    <script>
        layui.use(function () {
            var form = layui.form;
            var layer = layui.layer, $ = layui.jquery;

            form.on('submit(login)', function (data) {
                var field = data.field; 
                $.ajax({
                    url: '/Home/login',
                    type: 'post',
                    dataType: 'json',
                    data: field,

                    success: function (result) {

                        if (result.result == "success") {
                            layer.msg('登录成功！', { icon: 1 }, function () {
                                //setTimeout(function () {
                                //    window.location.href = "http://www.dr-coffee.com/";
                                //}, 500)
                                window.location.href = "/Home/Report";
                            });

                        } else {
                            layer.msg('登录失败！');
                        }

                    }
                })
                
                return false; 
            });
        });
    </script>

</body>
</html>
